Notification on CoapResource removal

[RFC7641§3.2.  Notifications](https://www.rfc-editor.org/rfc/rfc7641#section-3.2) says : 

> In the event that the resource changes in a way that would cause a
   normal GET request at that time to return a non-2.xx response (for
   example, when the resource is deleted), the server sends a
   notification with an appropriate response code (such as 4.04 Not
   Found) and removes the client's entry from the list of observers of
   the resource.  Non-2.xx responses do not include an Observe Option.
   
   
So IF I delete a resource AND this resource is observed THEN a 4.04 not found notification should be sent ? 

My tests let me think that Californium doesn't behave like this for now.

Did you call 'changed' in the 'handleDELETE' implementation?

I had a look at the code. For me it seems to require a call of [CoapResource.clearAndNotifyObserveRelations](https://github.com/eclipse-californium/californium/blob/main/californium-core/src/main/java/org/eclipse/californium/core/CoapResource.java#L543-L559) to handle it.
 

> Did you call 'changed' in the 'handleDELETE' implementation?

Nope. In my case I use `CoapServer.remove(Resource);`


> I had a look at the code. For me it seems to require a call of [CoapResource.clearAndNotifyObserveRelations](https://github.com/eclipse-californium/californium/blob/main/californium-core/src/main/java/org/eclipse/californium/core/CoapResource.java#L543-L559) to handle it.

You mean that : 
 -  I need to do that myself ? 
 - or that should be added to Californium ? 

For now (Cf v3.x.y), please call it by yourself.

I have a custom `LwM2mCoapResource`, I added : 

```java
@Override
public synchronized boolean delete(Resource child) {
    boolean deleted = super.delete(child);
    if (deleted) {
        if (child instanceof CoapResource) {
            ((CoapResource) child).clearAndNotifyObserveRelations(null, ResponseCode.NOT_FOUND);
        }
    }
    return deleted;
}
```
And it seems it works.

But maybe better to add that to Californium `CoapResource` directly ? (even for 3.x.y) 

Anyway this solves my issue, thx for your help. 

If it works, great.
My point not adding it is the "unclear threading context" of such a "delete" and that a first "cleanup-redesign" of the observe stuff already hit the first user by an unintended API break (see PR #2214). 