Handling of Proxy-Uri Request

**Californium Version:** main branch
**Commit ID:** ad504fd9a10ed7cd5a92a9eb66ceb3e49d810c9e

**Problem Description:**

According to  RFC 7252, Section 5.7.2:

> When a proxy request is made to an endpoint and the endpoint is unwilling or unable to act as proxy for the request URI, it MUST return a 5.05 (Proxying Not Supported) response.
> 

When a request with a Proxy-URI option is sent to the plugtest server, it handles the proxy request locally, even though it may do not support proxying functionality.  The server responds with a 2.05 (Content) message.

**Reproduce Packet:**

```
CON GET (Proxy-Uri: coap://test.com/resource)
4401c3af02b59eeddd160b636f61703a2f2f746573742e636f6d2f7265736f75726365
```

It would be helpful if you could clarify whether this is a bug or intended behavior. Thank you for your time and assistance.